<!DOCTYPE html>
<html lang="tr">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZQPQLM5NS2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-ZQPQLM5NS2');
    </script>

    <title>About</title>
    <link rel="icon"
        href="../static/images/gkr_logo.ico"
        type="image/ico">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="../index.css" />
    <link rel="stylesheet" type="text/js" href="index.js" />
</head>

<body>
    
    <div class="logo">
        <a href="/">
            <img src="../static/images/gkr logo.gif" class="log" height="40px" width=" 40px" alt="logo" />
        </a>
    </div>

    <div class="buttons">
        <div class="main">
            <ul class="listnav">
                <li><a href="/">Home</a></li>
                <li><a href="../template/gallery.html">Gallery</a></li>
                <li><a href="../template/contact.html">Contact</a></li>
                <li class="active"><a href="../template/about.html">About</a></li>
                <li><a href="../template/login.html">Login</a></li>
            </ul>
        </div>
    </div>




    <h1>This is about page</h1>

    <footer>
        <div>
            <p>Hello visit next time</p>
            <p>All rights preserved &copy; 2023</p>
            <div>
                <div class="social">
                    <ul>
                        <li>
                            <a href="https://www.youtube.com" title="youtube" target="_blank"><img class="social-itm"
                                    src="../static/images/y.png" width="22rem" height="21rem" /></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com" title="instagram" target="_blank"><img
                                    class="social-itm" src="../static/images/i.png" width="20rem" height="20rem" /></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com" title="facebook" target="_blank"><img class="social-itm"
                                    src="../static/images/f.png" width="20rem" height="20rem" /></a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com" title="twitter" target="_blank"><img class="social-itm"
                                    src="../static/images/t.png" width="20rem" height="20rem" /></a>
                        </li>
                        <li>
                            <a href="https://in.linkedin.com" title="linkdin" target="_blank"><img class="social-itm"
                                    src="../static/images/l.png" width="20rem" height="20rem" /></a>
                        </li>
                        <li>
                            <a href="https://www.github.com" title="github" target="_blank"><img
                                    src="../static/images/g.png" class="social-itm" width="20rem" height="20rem" /></a>
                        </li>
                        <li>
                            <a href="https://www.discord.com" title="discord" target="_blank"><img class="social-itm"
                                    src="../static/images/d.png" width="20rem" height="20rem" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>