<!DOCTYPE html>
<html lang="tr">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZQPQLM5NS2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-ZQPQLM5NS2');
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-W5V8DW2');</script>
    <!-- End Google Tag Manager -->

    <title>Contact</title>
    <link rel="shortcut icon" href="https://github.com/GauravKesh/GauravKesh.github.io/blob/main/static/images/gkr_logo.png"
        type = "image/x-icon">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="../index.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/contact.css" />
    <link rel="stylesheet" type="text/js" href="index.js" />
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W5V8DW2" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="logo">
        <a href="/">
            <img src="../static/images/gkr logo.gif" class="log" height="40px" width=" 40px" alt="logo" />
        </a>
    </div>

    <div class="buttons">
        <div class="main">
            <ul class="listnav">
                <li><a href="/">Home</a></li>
                <li><a href="../template/gallery.html">Gallery</a></li>
                <li class="active"><a href="../template/contact.html">Contact</a></li>
                <li><a href="../template/about.html">About</a></li>
                <li><a href="../template/login.html">Login</a></li>
            </ul>
        </div>
    </div>


    <div class="contact-container">
        <div class="div-contact1">
            <div class="head-title">
                <div class="cont-top-header">Contact Us</div>
            </div>

            <form action="contactinfo.php" method="post">
                <div class="user-input">
                    <!-- <label for="cont-user-name">Name</label> -->
                    <input type="text" class="cont-input" name="cont-user-name" placeholder="Enter your Name" required>
                </div>

                <div class="user-input">
                    <!-- <label for="user-input">Email</label> -->
                    <input type="email" class="cont-input" name="email" placeholder="Enter a valid email address"
                        required>
                </div>

                <div class="user-input">
                    <!-- <label for="mesg">Message</label> -->
                    <input type="text" class="cont-input" placeholder="Enter your message...." name="mesg">
                </div>

                <div class="user-input">
                    <input type="submit" class="submit-input" value="Submit">
                </div>
            </form>
        </div>
    </div>
    <div class="div-contact2">

        <ul>
            <li>
                <div class="phone">

                    <h1>Phone</h1>
                    <ul>
                        <li>
                            <p>(+97) 12348 486 22</p>

                        </li>
                        <li>
                            <p>(+97) 12348 485 22</p>

                        </li>

                    </ul>

                </div>
            </li>
            <li>
                <div class="location">

                    <h1>Location</h1>
                    <ul>
                        <li>
                            <a href="#">Location1</a>

                        </li>


                    </ul>

                </div>
            </li>

            <li>
                <div class="day-time">

                    <h1>Time</h1>

                </div>
            </li>
        </ul>





    </div>


    <footer>
        <div>
            <p>Hello visit next time</p>
            <p>All rights preserved &copy; 2023</p>
            <div>
                <div class="social">
                    <ul>
                        <li>
                            <a href="https://www.youtube.com" title="youtube" target="_blank"><img class="social-itm"
                                    src="../static/images/y.png" width="22rem" height="21rem" /></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com" title="instagram" target="_blank"><img
                                    class="social-itm" src="../static/images/i.png" width="20rem" height="20rem" /></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com" title="facebook" target="_blank"><img class="social-itm"
                                    src="../static/images/f.png" width="20rem" height="20rem" /></a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com" title="twitter" target="_blank"><img class="social-itm"
                                    src="../static/images/t.png" width="20rem" height="20rem" /></a>
                        </li>
                        <li>
                            <a href="https://in.linkedin.com" title="linkdin" target="_blank"><img class="social-itm"
                                    src="../static/images/l.png" width="20rem" height="20rem" /></a>
                        </li>
                        <li>
                            <a href="https://www.github.com" title="github" target="_blank"><img
                                    src="../static/images/g.png" class="social-itm" width="20rem" height="20rem" /></a>
                        </li>
                        <li>
                            <a href="https://www.discord.com" title="discord" target="_blank"><img class="social-itm"
                                    src="../static/images/d.png" width="20rem" height="20rem" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>